<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1VrN6pL6cx7Y0GQhbmzq8aFsLd1o2r7g</string>
	<key>GCM_SENDER_ID</key>
	<string>942977102864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>our-chat-31921</string>
	<key>STORAGE_BUCKET</key>
	<string>our-chat-31921.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942977102864:ios:7ff252560089fbc85cc695</string>
</dict>
</plist>